/* src\componentes\Footer\style.css */

.footer-container {
    background-color: #333;
    padding: 0px;
    text-align: center;
    font-size: 14px;
    color: white;
    bottom: 0;
    position: fixed;
    width: 100%;
}